:root{
  --pri: #e3b23f;
  --sec: #343a40;
  --ter: #CAFFB9;
}
body{
  background-color: var(--pri);
}
html{
  overflow-y: scroll;
}
.container {
  margin: auto;
}

#inicio{
  margin: 50px auto;
  width: 70vw;
}

#inicio img{
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

div.dt-container .dt-search input, div.dt-container select.dt-input {
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
}

.header, .toolbar, .table, .no-contacts {
  margin-bottom: 20px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.navbar-dark, .navbar[data-bs-theme=dark]{
  background-color: var(--sec) !important;
  height: 80px;
}

select, [type="date"], input[type="text"], input[type="email"], input[type="password"] {
  border: 2px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: all 0.3s ease; /* Transición suave */
}

select:focus, input[type="date"]:focus , input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #007BFF; /* Borde azul al enfocar */
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3); /* Sombra más intensa al enfocar */
  outline: none; /* Eliminar contorno predeterminado */
}

.add button, .add select{
  margin: 15px 0;
  background-color: var(--sec);
  border: none;
  border-radius: 10px;
  padding: 8.5px;
  height: 45px;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box !important;
} 
.add *{
  color: white !important;
}

.add{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

#modalCRUD .modal-header{
  background-color: var(--sec) !important;
}

button{
  cursor: pointer;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow-x: scroll;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  text-align: center;
}
table td{
  background-color: #FFF;
  color: black;
}
table thead tr {
  height: 60px;
  background: var(--sec);
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #000000;
}
table tbody tr:last-child {
  border: 0;
}
table th, button{
  color: white;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
/*
@media screen and (max-width: 35.5em) {
  table {
    display: block;
 }
  table > *, table tr, table td, table th {
    display: block;
    color:black;
 }
  table thead {
    display: none;
 }
  table tbody tr {
    height: auto;
    padding: 8px 0;
 }
  table tbody tr td {
    padding-left: 35%; 
    margin-bottom: 12px;
    position: relative;
 }
  table tbody tr td:last-child {
    margin-bottom: 0;
 }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 35%; 
    left: 10px;
    top: 0;
    content: attr(data-title); 
 } 
}
@media (max-width: 768px) {
  .header, .toolbar {
  flex-direction: column;
  }

  .header .actions {
  justify-content: center;
  }

  .search {
  justify-content: center;
  }

  .toolbar .filters {
  justify-content: center;
  }
}

@media (max-width: 576px) {
  .header h1 {
  font-size: 1.5rem;
  text-align: center;
  }


  .toolbar .filters, .search {
  width: 100%;
  justify-content: space-between;
  }
} */